<form action="/answer" method="get">
  <input type="text" class="form-control" name="question" placeholder="Ask a question">
  <input type="submit" class="btn btn-outline-secondary" value="Ask!">
</form>
